{% extends 'base.html' %}
<!DOCTYPE html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        {% endblock %}
    </head>
    <body class="text-center">
            {% block body %}
            <h1>Welcome</h1>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et rhoncus ipsum. Aenean ac lorem id ligula venenatis scelerisque at ac lorem. Ut sit amet volutpat enim, eget fringilla tellus. Nam ut fermentum justo, bibendum ornare ex. Phasellus gravida, ante ut rhoncus hendrerit, ex lectus posuere dolor, eget accumsan orci massa vel eros. Phasellus quis molestie nisl. Proin dapibus ullamcorper tellus ut semper. Morbi elementum mi erat, ac posuere ligula sodales quis. Aenean placerat vulputate leo. Ut venenatis varius tortor ut maximus. Aliquam blandit gravida massa ut feugiat. Interdum et malesuada fames ac ante ipsum primis in faucibus.</h4>
            {% endblock %}

    </body>
</html>