{% extends 'base.html' %}
    {% block head %}
        <title>Login</title>
        <title>Django App</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">
{% endblock %}
        
{% block body %}
        <div class="container">
            <form class="form-signin" method="post">
                <img class="mb-4" src="" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
{% endblock %}
      