.form-signin{
    width: 450px;
    display: flex;
    flex-direction: column;
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
}
.btn-primary{
    background-color: rgba(127, 255, 212, 0);
    color: #007bff;
    border-color: #007bff;
}
.form-control{
    margin-bottom: 15px;
}